@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Terminator'; /*Can be any text*/
  src: local('AirbnbCerealLight'),
    url('./fonts/TERMINAT.TTF') format('truetype');
}
.ticTacTo {
  font-family: 'Terminator';
}

.boxShaddow {
  box-shadow: 7px 8px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 8px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 8px 5px 0px rgba(0, 0, 0, 0.75);
}

.toDoPaper {
  background: rgb(226, 226, 226);
  background: linear-gradient(
    167deg,
    rgba(226, 226, 226, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.toDoWrapp {
  background: rgb(199, 71, 72);
  background: linear-gradient(
    167deg,
    rgba(199, 71, 72, 1) 0%,
    rgba(255, 115, 116, 1) 100%
  );
}
.toDoListHeader {
  font-family: 'Alkatra', cursive;
}

.toDoListInputShaddow {
  box-shadow: 3px 3px 13px -1px rgb(94, 94, 94);
  -webkit-box-shadow: 3px 3px 13px -1px rgb(147, 147, 147);
  -moz-box-shadow: 3px 3px 13px -1px rgb(169, 169, 169);
}
.toDoPaperShaddow {
  box-shadow: 3px 3px 0px -1px rgba(239, 236, 236, 1);
  -webkit-box-shadow: 3px 3px 0px -1px rgba(239, 236, 236, 1);
  -moz-box-shadow: 3px 3px 0px -1px rgba(239, 236, 236, 1);
}
.scroll::-webkit-scrollbar {
  width: 0 !important;
}

.toDoListOverLineColor {
  -webkit-text-decoration-color: rgba(71, 255, 102, 0.53);
  text-decoration-color: rgba(71, 255, 102, 0.53);
}

.ticTacBackground {
  background: rgb(255, 0, 2);
  background: linear-gradient(
    170deg,
    rgba(255, 0, 2, 1) 0%,
    rgba(0, 0, 0, 1) 39%
  );
}
